apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "vaultcred.fullname" . }}-binding
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vaultcred.labels" . | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ include "vaultcred.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "vaultcred.fullname" . }}-role
  apiGroup: rbac.authorization.k8s.io
